$white: #FFFFFF;
$white-1: rgb(255, 255, 255, 0.1);
$black: #000;

$gray: #2C2C2C;
$gray-1: #333333;
$gray-2: rgba(200, 200, 200, 0.50);
$gray-3: #8D8D8D;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-7: #F9F9F9;
$gray-8: #FBFBFB;
$gray-9: #F3F3F3;

$font-weight: 300, 400, 500, 600, 700;
$font-size: 64px, 58px, 48px, 36px;

$main-font: 'TT Hoves', sans-serif;
$num-font: 'SF Pro Display', sans-serif;
$sans-font: 'Open Sans', sans-serif;